.disc-list {
    >li {
        margin-left: 2rem;
    }
    >li:before {
        content: '';
        background: $yellow;
        display: inline-block;
        height: 12px;
        width: 12px;
        border-radius: 50%;
        margin-left: -2rem;
        margin-right: 1rem;
    }
}

