mixin simplelist(data)
    section.section#about
        .container
            +header(header.sportsBetting)
            ul.disc-list.is-size-4
                if lang == 'en'
                    li More than 15 000 events every minute! 
                    li Sports betting
                    li Betting on eSports
                    li Long-term rates
                    li Bets on political events
                    li Bets on TV games, events from the world of cinema and show business
                    li Live match-center with full sports statistics
                    li Results of finished matches and live events
                else
                    li Более 15000  событий каждую минуту
                    li Ставки на спорт
                    li Ставки на киберспорт
                    li Долгосрочные ставки
                    li Ставки на политические события
                    li Ставки на ТВ игры, события из мира кино и шоу бизнеса
                    li Live матч-центр с полной спортивной статистикой
                    li Результаты прошедших матчей и лайв-событий