.form-modal {
    .modal-card {
        width: 300px;
        max-width: 100%;
        overflow: auto;
        .modal-card-foot {
            flex-wrap: wrap;
            .is-fullwidth {
                width: 100%;
            }
        }
    }
}
