mixin modal(id)
    .modal.tabs-container.form-modal(id=id)
        .modal-background.js-modal(data-modal=id)
        //- .modal-content.box
        //-     +tabs(tabs.logOrReg).is-boxed.is-fullwidth
        //-         .tab-content#loginform
        //-             form()
        //-                 +input('Email', 'fas fa-envelope')(name='email' placeholder='Ваша почта' type='email' required)
        //-                 +input('Пароль', 'fas fa-key')(name='password' placeholder='Введите пароль' type='password' required)
        //-                 .field: .control
        //-                     button.button.is-danger.is-fullwidth.is-medium Войти
        //-         .tab-content#regform
        //-             form()
        //-                 +input('Имя', 'fas fa-user')(name='email' placeholder='Как Вас зовут?' type='text' required onchange="window.validateInput(this)")
        //-                 +input('Email', 'fas fa-envelope')(name='email' placeholder='Ваша почта' type='email' required onchange="window.validateInput(this)")
        //-                 +input('Пароль', 'fas fa-key')(name='password' placeholder='Введите пароль' type='password' required)
        //-                 +input('Повторите пароль', 'fas fa-key')(name='repeatpassword' placeholder='Повторите пароль' type='password' required disabled)
        //-                 .field: .control
        //-                     button.button.is-danger.is-fullwidth.is-medium Войти

        //- button.modal-close.is-large.js-modal(aria-label="close" data-modal=id)
        section.modal-card.tab-content#loginform
            header.modal-card-head
                h1.modal-card-title= lang==='ru' ? 'Вход' : 'Login' 
                button.delete.js-modal(aria-label="close" data-modal=id)
            form.js-validate(action="https://pin-up.partners/summer-auth/login")
                .modal-card-body
                    +input('Login', 'fas fa-user')(name='admin-z-login' placeholder='Login' type='text' required)
                    +input('Password', 'fas fa-key', '<a href="#" class="js-tab" data-tab="remindpassword">Forgot password?</a>')(name='password' placeholder='Enter password' type='password' required)
                footer.modal-card-foot
                    .is-fullwidth
                        button.button.is-success.is-uppercase.arrowbutton.is-fullwidth.is-medium(type="submit")= lang==='ru' ? 'Вход' : 'Login' 
                    p.help.has-text-centered.is-fullwidth.has-text-grey
                        | Have no account?<br />
                        a(href="#" data-tab="regform").js-tab= lang==='ru' ? 'Зарегистрируйтесь' : 'Sign Up'  

        section.modal-card.tab-content#regform
            header.modal-card-head
                h1.modal-card-title Registration
                button.delete.js-modal(aria-label="close" data-modal=id)
            form.js-validate(action="https://pin-up.partners/summer-auth/register")
                .modal-card-body
                    +input('Name', 'fas fa-user')(name='email' placeholder="What's your name?" type='text' required)
                    +input('Email', 'fas fa-envelope')(name='email' placeholder='Your Email' type='email' required)
                    +input('Password', 'fas fa-key')(name='password' placeholder='Enter password' type='password' required)
                    +input('Repeat password', 'fas fa-key')(name='repeatpassword' placeholder='Repeat password' type='password' required)
                footer.modal-card-foot
                    .is-fullwidth
                        button.button.is-success.is-uppercase.arrowbutton.is-fullwidth.is-medium(type="submit")= lang==='ru' ? 'Регистрация' : 'Sign Up'
                    p.help.has-text-centered.is-fullwidth.has-text-grey
                        span= lang==='ru' ? 'Есть аккаунт?' : 'Have account?' 
                        |<br />
                        a(href="#" data-tab="loginform").js-tab= lang==='ru' ? 'Войдите' : 'Log In' 

        section.modal-card.tab-content#remindpassword
            header.modal-card-head
                h1.modal-card-title= lang==='ru' ? 'Восстановление' : 'Remind'
                button.delete.js-modal(aria-label="close" data-modal=id)
            form.js-validate(action="https://pin-up.partners/ajax/home/forget")
                .modal-card-body
                    +input('Email', 'fas fa-envelope', "We'll send you instructions for password recovery")(name='email' placeholder='Email you registered with' type='email' required)
                footer.modal-card-foot
                    .is-fullwidth
                        button.button.is-success.is-uppercase.arrowbutton.is-fullwidth.is-medium(type="submit")= lang==='ru' ? 'Отправить' : 'Send'   
                    p.help.has-text-centered.is-fullwidth
                        button.button.is-text(data-tab="loginform" type="button").js-tab= lang==='ru' ? 'Отмена' : 'Cancel'