- var lang = 'ru'

doctype html
html(lang=lang)

    include ../components/head/head.pug
    include ../components/navbar/navbar.pug
    include ../components/languageSelect/languageSelect.pug    
    include ../components/header/header.pug
    include ../components/footer/footer.pug
    include ../components/modal/modal.pug
    include ../components/tabs/tabs.pug
    include ../components/input/input.pug
    include ../components/swiper/swiper.pug
    include ../components/arrowbutton/arrowbutton.pug

    include ../components/sections/index/girl/girl.pug
    include ../components/sections/index/simplelist/simplelist.pug
    include ../components/sections/index/gamelist/gamelist.pug
    include ../components/sections/index/newslist/newslist.pug
    include ../components/sections/index/featurelist/featurelist.pug
    include ../components/sections/index/productlist/productlist.pug
    include ../components/sections/index/testimonials/testimonials.pug
    include ../components/sections/index/payments/payments.pug

    head
        +head(head.defaults)
    body.has-navbar-fixed-top#body
        |%=symbols=%

        +navbar(navbar.defaults, lang)

        main
            .section: .container.content-container
                +header(header.faq)
                ul.disc-list.is-size-5
                    li Расширено ГЕО стран на прием трафика по: России, Белорусии, Украине, Казахстан, Киргизия, Австралии, Барбадос, Камерун, Эфиопиа, Индия, Ямайка, Кения, Керибати, Малайзия, Микронезия, Новозеландия, Шриланка, Южная Африка, Багамы, Тринидат и Тобаго.

                    li Мы принимаем трафик из всех источников, кроме мотивированного трафика.
                    li 
                        span Варианты оплаты для вебмастеров будут теперь производиться по трем направлениям с установленными ставками: 
                        ol.is-size-6.has-text-warning
                            li.has-text-black Revenue Share стандартная  casino-50%
                            li.has-text-black Comby: casino-CPA 20$ +RS 40% 
                            li.has-text-black CPA 20$ (вебмастеру) 

                    li KPI Pin-up
                    li 
                        span Наличие второго депозита
                        ol.is-size-6.has-text-warning
                            li.has-text-black 35% - для контекст/медийка
                            li.has-text-black 50% - приложения
                    li Требования к обороту (суммы сделок) Х5 для всех
                    li Квалифицированная регистрация. Корректность введенного номера телефона, подтвержденная почта пользователя.
                    li Заработанные средства выводятся за периоды 1-15 и 16-30(31). После окончания периода начисленные средства выводятся автоматически при прохождении KPI в течении 3-х рабочих дней.

                    li Ваши игроки будут иметь одинаковые данные для входа как в онлайн ставки, так и в казино. В продукте для пользователей имеется уникальная внутренняя игровая валюта, которую можно зарабатывать играя в слоты и ставя на исходы спортивных событий - Pincoins, которые можно обменять на множество бонусов и фрибетов.
                    li Если Вы привлечете нового партнера в партнерскую программу, то Вы сможете получать 3% с его дохода.
                    


        +footer

                

 
        +modal('registration')

        script(src='%=static=%js/separate-js/svg4everybody.min.js')
        script svg4everybody();

        //- Main scripts. You can replace it, but I recommend you to leave it here
        script(src='%=static=%js/main%=hash=%%=min=%.js')