- var lang = 'en'

doctype html
html(lang=lang)

    include ../components/head/head.pug
    include ../components/navbar/navbar.pug
    include ../components/languageSelect/languageSelect.pug    
    include ../components/header/header.pug
    include ../components/footer/footer.pug
    include ../components/modal/modal.pug
    include ../components/tabs/tabs.pug
    include ../components/input/input.pug
    include ../components/swiper/swiper.pug
    include ../components/arrowbutton/arrowbutton.pug

    include ../components/sections/index/girl/girl.pug
    include ../components/sections/index/simplelist/simplelist.pug
    include ../components/sections/index/gamelist/gamelist.pug
    include ../components/sections/index/newslist/newslist.pug
    include ../components/sections/index/featurelist/featurelist.pug
    include ../components/sections/index/productlist/productlist.pug
    include ../components/sections/index/testimonials/testimonials.pug
    include ../components/sections/index/payments/payments.pug

    head
        +head(head.defaults)
    body.has-navbar-fixed-top#body
        |%=symbols=%

        +navbar(navbar.defaults, lang)

        main
            .section: .container.content-container
                +header(header.faq)
                ul.disc-list.is-size-5
                    li GEO: Australia, Barbados, Belarus, Cameroon, Ethiopia, India, Jamaica, Kazakhstan, Kenya, Kiribati, Kyrgyzstan, Malaysia, Micronesia, New Zealand, Russia, Sri Lanka, South Africa, The Bahamas, Trinidad and Tobago, Ukraine

                    li We accept traffic from all sources, except incentive traffic.
                    li 
                        span Payment option for webmasters now will be applied by three different ways with fixed rates:
                        ol.is-size-6.has-text-warning
                            li.has-text-black.is-size-6 Revenue Share standard casino-50%, betting-40%
                            li.has-text-black.is-size-6 Comby: casino-CPA 20$ +RS 40%,betting- CPA 20$ +RS 30%
                            li.has-text-black.is-size-6 CPA 20$ (to webmaster)

                    li KPI Pin-up
                    li Availability of a second deposit
                    li 35% - for content/media
                    li 50% - apps
                    li Requirements for traffic (for value of transactions) Х5 for each
                    li Qualified registration.The correctness of the entered phone number.
                    li Confirmed users email.

                    li Withdrawal of earned funds are dispatched between 1-15 and 16-30(31).
                    li At the end of period accrued funds are dispatched automatically in carrying out KPI during 3 working days.
                    
                    li Your players will have same login data both for online betting and also for casino.The product contains a unique domestic gambling currency for users, that can be earned by playing slots and betting on sport event results, ie Pincoins, which also can be traded for multiple bonuses and free-bets.

                    li In case attracting new partners to affiliate program you will be able to get 3% from their profit.


        +footer

                

 
        +modal('registration')

        script(src='%=static=%js/separate-js/svg4everybody.min.js')
        script svg4everybody();

        //- Main scripts. You can replace it, but I recommend you to leave it here
        script(src='%=static=%js/main%=hash=%%=min=%.js')