- var lang = 'en'

doctype html
html(lang=lang)

    include ../components/head/head.pug
    include ../components/navbar/navbar.pug
    include ../components/languageSelect/languageSelect.pug    
    include ../components/header/header.pug
    include ../components/footer/footer.pug
    include ../components/modal/modal.pug
    include ../components/tabs/tabs.pug
    include ../components/input/input.pug
    include ../components/swiper/swiper.pug
    include ../components/arrowbutton/arrowbutton.pug

    include ../components/sections/index/girl/girl.pug
    include ../components/sections/index/simplelist/simplelist.pug
    include ../components/sections/index/gamelist/gamelist.pug
    include ../components/sections/index/newslist/newslist.pug
    include ../components/sections/index/featurelist/featurelist.pug
    include ../components/sections/index/productlist/productlist.pug
    include ../components/sections/index/testimonials/testimonials.pug
    include ../components/sections/index/payments/payments.pug

    include ../components/translations/translations.pug

    head
        +head(head.defaults)
    body.has-navbar-fixed-top#body
        |%=symbols=%

        +navbar(navbar.defaults, lang)

        main
            +girl(lang)
            +featurelist(sections_index_featurelist.defaults, lang)
            +simplelist
            +gamelist(sections_index_gamelist.games)
            +testimonials(sections_index_testimonials.testimonials)
            +newslist
            +productlist
            +featurelist(sections_index_featurelist.second, lang)
            +payments(sections_index_payments.payments, lang)
        +footer

                

 
        +modal('registration')

        script(src='%=static=%js/separate-js/svg4everybody.min.js')
        script svg4everybody();

        //- Main scripts. You can replace it, but I recommend you to leave it here
        script(src='%=static=%js/main%=hash=%%=min=%.js')