- var lang = 'ru'

doctype html
html(lang=lang)

    include ../components/head/head.pug
    include ../components/navbar/navbar.pug
    include ../components/languageSelect/languageSelect.pug    
    include ../components/header/header.pug
    include ../components/footer/footer.pug
    include ../components/modal/modal.pug
    include ../components/tabs/tabs.pug
    include ../components/input/input.pug
    include ../components/swiper/swiper.pug
    include ../components/arrowbutton/arrowbutton.pug

    include ../components/sections/index/girl/girl.pug
    include ../components/sections/index/simplelist/simplelist.pug
    include ../components/sections/index/gamelist/gamelist.pug
    include ../components/sections/index/newslist/newslist.pug
    include ../components/sections/index/featurelist/featurelist.pug
    include ../components/sections/index/productlist/productlist.pug
    include ../components/sections/index/testimonials/testimonials.pug
    include ../components/sections/index/payments/payments.pug

    head
        +head(head.defaults)
    body.has-navbar-fixed-top#body
        |%=symbols=%

        +navbar(navbar.defaults, lang)

        main
            .section: .container.content-container
                +header(header.terms)
                ol.is-size-5.has-text-warning(type="I")
                    li: span.has-text-black: p Общие положения:
                        ol.has-text-warning.is-size-6
                            li: span.has-text-black Данное Соглашение подписывается между двумя сторонами: организацией pin-up.partners (в Соглашении будет именоваться «Компания») с одной стороны и субъектом, зарегистрировавшим партнерский аккаунт, (в Соглашении будет именоваться «Партнер») с другой стороны.
                            li: span.has-text-black Местом подписания Соглашения является Республика Кипр – место, где зарегистрирована Компания.
                    li: span.has-text-black: p Порядок регистрации аккаунта:
                        ol.has-text-warning.is-size-6
                            li: span.has-text-black Чтобы зарегистрироваться, Партнер должен заполнить форму регистрации, размещенную на веб-странице pin-up.partners.
                            li: span.has-text-black Партнер обязан принять все условия этого Соглашения.
                    li: span.has-text-black: p Порядок проведения расчетов:
                        ol.has-text-warning.is-size-6
                            li: span.has-text-black Клиент выбирает валюту счета из доступных (Российский рубль, Американский доллар, Евро), при регистрации, и все операции по вводу и выводу денег осуществляются в выбранной валюте.
                            li: span.has-text-black Все расходы по выводу денег со счета и комиссии по переводу ложатся на Компанию.
                            li: span.has-text-black Сумма единоразовой выплаты выигрыша должна быть не менее 500 российских рублей, 15 долларов США или 15 евро, в зависимости от валюты аккаунта Клиента.
                    li: span.has-text-black: p Права и обязанности Компании:
                        ol.has-text-warning.is-size-6
                            li: span.has-text-black Компания может изменять Соглашение. Обо всех внесенных поправках и дополнениях Компания не обязана информировать Партнера.
                            li: span.has-text-black На Компанию не возлагается ответственность за действия или бездействие Партнера.
                            li: span.has-text-black Если были сбои в коммуникационных каналах, технические неполадки у Интернет-провайдера и другие технические проблемы, то Компания не несет ответственности за невыполнение своих обязательств.
                            li: span.has-text-black Если обнаружены признаки мошенничества при игре на рекламируемом продукте после поступления денег на клиентский счет, то Компания оставляет за собой право отменить транзакцию и заморозить аккаунт клиента до дальнейшего выяснения обстоятельств. Тогда партнерское вознаграждение, полученное благодаря проведению мошеннической сделки, будет аннулировано.
                            li: span.has-text-black Компания может заблокировать аккаунт Партнера, если он используется не по прямому назначению.
                    li: span.has-text-black: p Права и обязанности Партнера:
                        ol.has-text-warning.is-size-6
                            li: span.has-text-black Партнер полностью ответственен за хранение в безопасности своих паролей и платежных реквизитов.
                            li: span.has-text-black Партнер обязан предоставлять правдивые, точные и актуальные личные данные.
                            li: span.has-text-black Действия, которые производит Партнер в соответствии с этим Соглашением, не должны нарушать законодательные нормы, постановления и правила.
                    li: span.has-text-black: p Порядок рассмотрения спорных ситуаций:
                        ol.has-text-warning.is-size-6
                            li: span.has-text-black Компания не принимает к рассмотрению и не рассматривает спорные обращения по упущенной прибыли.
                            li: span.has-text-black Компанией не возмещается моральный ущерб.
                            li: span.has-text-black Все обращения должны быть отправлены на электронный адрес support@pin-up.partners.
                            li: span.has-text-black Максимальный срок рассмотрения обращений, отправленной Партнером, составляет 15-20 рабочих дней.
                            li: span.has-text-black Если возникла спорная ситуация, не прописанная в данном Соглашении, Компания оставляет за собой право вынести решение по собственному усмотрению, 
                    li: span.has-text-black: p Рассмотрение обращений клиентов и разрешение спорных вопросов:
                        ol.has-text-warning.is-size-6
                            li: span.has-text-black Все споры стороны пытаются урегулировать путем переговоров и переписки. Обращения Клиента принимаются Компанией к рассмотрению только в письменном виде и в срок не позднее трех календарных дней с даты возникновения спорной ситуации.
                            li: span.has-text-black Все обращения Клиента считаются официальными и рассматриваются как обращения в письменном виде/форме, если произведены с использованием интерфейса сайта Компании, с помощью электронной почты по адресам соответствующих служб Компании или обычной почтой. Не считаются письменными обращения, произведенные с помощью программ онлайн-коммуникаторов: ICQ и подобных.
                            li: span.has-text-black: p Обращение Клиента должно содержать:
                                ul.disc-list.has-text-warning
                                    li: span.has-text-black ФИО;
                                    li: span.has-text-black Email;
                                    li: span.has-text-black Номер счета;
                                    li: span.has-text-black дата и время возникновения спорной ситуации;
                                    li: span.has-text-black суть обращения.
                            li: span.has-text-black: p Компания вправе отказать в рассмотрении обращения в случаях:
                                ul.disc-list.has-text-warning.is-size-6
                                    li: span.has-text-black если обращения не удовлетворяет условиям п. VIII.1, VIII.2, VIII.3;
                                    li: span.has-text-black если обращения содержит нецензурную лексику и/или оскорбления в адрес Компании либо её сотрудников;
                                    li: span.has-text-black если обращения содержит угрозы в адрес Компании либо её сотрудников;
                                    li: span.has-text-black если в качестве аргументации Клиентом используется угроза очернения имиджа Компании в социальных сетях и других ресурсах.
                            li: span.has-text-black Срок рассмотрения Компанией претензии Клиента составляет не более двадцати рабочих дней с момента получения всех необходимых и достаточных данных от Клиента, связанных с данной претензией и необходимых для ее решения.
                            li: span.has-text-black В случае возникновения разногласий по операциям или состоянию торгового счета Клиента, стороны рассматривают протоколы операций Клиента на основании данных Компании.
                            li: span.has-text-black В случае нарушения Клиентом любого из пунктов перечисленных выше, Компания оставляет за собой право отказать в предоставлении услуг Клиенту с последующим возвратом Клиентского депозита. Прекращение обслуживания и возврат средств, наступает по истечении 5 банковских дней после отправки уведомления Клиенту по внутренней почте торгового терминала и на e-mail, указанный при регистрации игрового счета.
                            li: span.has-text-black В случае недостижения согласия путем переговоров и переписки в течение 3 (трех) месяцев с момента возникновения спора дальнейшее его рассмотрение происходит в судебном порядке в соответствии с действующим законодательством Республики Кипр.





        +footer

                

 
        +modal('registration')

        script(src='%=static=%js/separate-js/svg4everybody.min.js')
        script svg4everybody();

        //- Main scripts. You can replace it, but I recommend you to leave it here
        script(src='%=static=%js/main%=hash=%%=min=%.js')