- var lang = 'en'

doctype html
html(lang=lang)

    include ../components/head/head.pug
    include ../components/navbar/navbar.pug
    include ../components/languageSelect/languageSelect.pug    
    include ../components/header/header.pug
    include ../components/footer/footer.pug
    include ../components/modal/modal.pug
    include ../components/tabs/tabs.pug
    include ../components/input/input.pug
    include ../components/swiper/swiper.pug
    include ../components/arrowbutton/arrowbutton.pug

    include ../components/sections/index/girl/girl.pug
    include ../components/sections/index/simplelist/simplelist.pug
    include ../components/sections/index/gamelist/gamelist.pug
    include ../components/sections/index/newslist/newslist.pug
    include ../components/sections/index/featurelist/featurelist.pug
    include ../components/sections/index/productlist/productlist.pug
    include ../components/sections/index/testimonials/testimonials.pug
    include ../components/sections/index/payments/payments.pug

    head
        +head(head.defaults)
    body.has-navbar-fixed-top#body
        |%=symbols=%

        +navbar(navbar.defaults, lang)

        main
            .section: .container.content-container
                +header(header.terms)
                ol.is-size-5.has-text-warning
                    li: span.has-text-black When you sign up and create affiliate profile at pin-up.partners (pin-up.partners) as an Affiliate, You confirm your accept with these affiliate terms and conditions.
                    li: span.has-text-black Affiliate accepting These Affiliate Terms and Conditions confirms that the his age is 18 or more years.
                    li: span.has-text-black The Affiliate has the sole account as a player and as an affiliate. The affiliate is not permitted to have more the one affiliate account, but the affiliate can have several affiliate profiles for different commission models (Revenue Share, CPA).
                    li: span.has-text-black The current Terms and Conditions are considered to be operating at the moment.
                    li: span.has-text-black Pin-up.partners affiliate program will provide the Affiliate with a refferal links, but it is Your duty to ensure that the referral links Affiliate works are correct. Pin-up.partners are not able to track players referred by Affiliate if these referral links are incorrect.
                    li: span.has-text-black We may make changes in the Affiliate Program terms and conditions at any time and in our sole discretion.
                    li: span.has-text-black We retains the right to ask the Affiliate about affiliate traffic sources. If the Affiliate decline to demonstrate traffic sources, pin-up.partners affiliate program has the right to terminate partnership with the Affiliate.
                    li: span.has-text-black Pin-up.partners affiliate program remains the right to modify the financial balance of the Affiliate to an amount if the player from the Affiliate received or lost earnings as a result of fraud.
                    li: span.has-text-black Your commission is calculated based on a percentage of your Gross Gaming Revenue. Gross Gaming Revenue consists of players’ bets minus their winnings and bonuses, minus admin fee.
                    li: span.has-text-black
                        h2: span.has-text-black The percentage of your commission depends on the product:
                        ul.disc-list.is-size-6
                            li: span.has-text-black 50% commission from casino payers
                            li: span.has-text-black 40% commission from betting payers
                    li: span.has-text-black Pin-up.partners affiliate program retains the right not to pay your earnings via CPA model in case when the partner brings fake players — multi accounts for example. Also if We consider and notice unusual CPA players (high percent of players who do not return to pin-up.partners ) , the earnings of the Affiliate will be calculated via Reveneue Share model.
                    li: span.has-text-black Pin-up.partners Sub-affiliate program pays the Affiliate 3% from all incomes of the new affiliates he had brought to us.
                    li: span.has-text-black Pin-up.partners affiliate program does not transfer negative carryover from previous month.
                    li: span.has-text-black The account period set by pin-up.partners affiliate program equals to the month.
                    li: span.has-text-black Payments to partners whose players demonstrate suspicious activity may be holded by the Affiliate program for a period needed for the inspection of traffic sources.
                    li: span.has-text-black Minimum payout from Affiliate account equals to 15$
                    li: span.has-text-black All payments are made to the Affiliate account the 1st each new month for previous month.
                    li: span.has-text-black Postclick period save cookie-files for the last 30 days. After this period your parametres will be erased. 

        +footer

                

 
        +modal('registration')

        script(src='%=static=%js/separate-js/svg4everybody.min.js')
        script svg4everybody();

        //- Main scripts. You can replace it, but I recommend you to leave it here
        script(src='%=static=%js/main%=hash=%%=min=%.js')