mixin productlist(data)
    section.section#projects: .container
        +header(header.ourProjects)
        article.columns.projectcard.is-vcentered
            .column
                figure.image
                    img(src="%=static=%img/assets/sections/index/productlist/project-casino.jpg" alt="PinUp Casino" width="181" height="181")
            .column
                h1.title: a(href="https://pin-upcasino3.ga" target="_blank").has-text-warning Pin-Up-casino.club
                span.tag Casino
                if lang === 'en'
                    p.
                        Best casino for those who prefer good and high quality rest and entertainment. Combination of modern design, qualitative
                        interface and generous slots give you opportunity to distraction
                        from everyday troubles and dive into gambling atmosphere.
                else
                    p
                        |Недавно открывшееся для игроков казино. На выбор представлено большое количество слотов на любой вкус, и ассортимент регулярно пополняется. Для новичков есть приветственный бонус +100% на депозит.
        article.columns.projectcard.is-vcentered
            .column
                figure.image
                    img(src="%=static=%img/assets/sections/index/productlist/project-sport.jpg" alt="PinUp Bet" width="181" height="181")
            .column
                h1.title: a(href="https://pin-up.bet" target="_blank").has-text-warning Pin-Up.Bet
                span.tag Sport
                if lang === 'en'
                    p.
                        Modern betting shop for gamble and sport fans.Best coefficients,
                        variety events, express bets - it all accessible on mobile and 
                        web devices.The product contains a unique domestic gambling currency
                        for users that can be earned by betting on sport event results. 
                else
                    p.
                        Новая букмекерская онлайн - контора для любителей спорта. Внутри проекта есть полный набор для игроков: ставки с актуальными коэффициентами, экспресс-ставки, приветственные бонусы до 5000 рублей, кэшбек, страхование ставок и многое другое.