.projectcard {
    background: white;
    margin: 0;
    padding: 1rem;
    border-bottom: 5px solid lightgrey;
    // &:not(last-child) {
    //     margin-bottom: 1.5rem !important;
    // }
    .image {
        width: 181px;
        height: 181px;
        border: 3px solid $primaryColor;
        border-radius: 50%;
        padding: 4px;
        box-sizing: content-box;
        margin: auto;
        img {
            border-radius: 50%;
        }
    }
    .tag {
        margin-bottom: .5rem;
        background: url('../img/general/blue-texture.jpg') $primaryColor;
        color: white;
    }
}
