.testimonials {
    padding: 1rem 0;
    .swiper-container {
        border-top: 1px solid white;
        border-bottom: 1px solid white;
        .swiper-slide {
            text-align: center;
            position: relative;
            height: auto;
            .cite {
                padding: 1rem 2rem;
                width: 100%;
            }
            .hero-body {
                display: flex;
                align-items: center;
            }
            footer {
                position: absolute;
                bottom: 2rem;
                left: 0;
                width: 100%; 
            }
        }
    }
}
