mixin testimonials(testimonials)
    section.beuge.testimonials
        .container
            +swiper
                each testimonial in testimonials
                    blockquote.hero.swiper-slide
                        .hero-body 
                            p.is-size-4.cite= testimonial.cite[lang]   
                        footer
                            cite= testimonial.author