// Common styles of the project
@import './bulma-vars.sass';
@import 'bulma/bulma.sass';


body {
    background: url('../img/general/grey-bg.jpg') $lightGrey;
}

.is-fixed {
    position: fixed;
    width: 100%;
}

.beuge {
    background: url('../img/general/beugebg.jpg') $beuge;
}

@media screen and (min-width: 1088px) {
    .content-container {
        max-width: 960px !important;
    }
    
}

ol {
    margin-left: 1em;
    li {
        margin-bottom: .5em;
    }
}

.w-wrap {
    display: none;
}

main {
    min-height: calc(100vh - 380px);
}