/* Your custom fonts here */

/* Example

@font-face {
    font-family: 'CustomFont';
    src: url('../fonts/Custom-Font.eot');
    src: url('../fonts/Custom-Font.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Custom-Font.woff') format('woff'),
         url('../fonts/Custom-Font.svg#custom_font') format('svg');
    font-weight: 400;       // For normal width. It could has another value   
    font-style: normal;     // Also could has another value
    }


// Var for using custom font
$CustomFont: 'CustomFont', Helvetica, Arial, sans-serif;
*/
@import '@fortawesome/fontawesome-free-webfonts/scss/fontawesome.scss';

@font-face {
    font-family: "NexaScript-SemiBold";
    src: url("../fonts/NexaScript-SemiBold.eot?#iefix")
            format("embedded-opentype"),
        url("../fonts/NexaScript-SemiBold.otf") format("opentype"),
        url("../fonts/NexaScript-SemiBold.woff") format("woff"),
        url("../fonts/NexaScript-SemiBold.ttf") format("truetype"),
        url("../fonts/NexaScript-SemiBold.svg#NexaScript-SemiBold")
            format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Font Awesome 5 Free";
    font-style: normal;
    font-weight: 900;
    src: url("../fonts/fa-solid-900.eot");
    src: url("../fonts/fa-solid-900.eot?#iefix") format("embedded-opentype"),
        url("../fonts/fa-solid-900.woff2") format("woff2"),
        url("../fonts/fa-solid-900.woff") format("woff"),
        url("../fonts/fa-solid-900.ttf") format("truetype"),
        url("../fonts/fa-solid-900.svg#fontawesome") format("svg");
}

.fa,
.fas {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
}

$NexaScript: "NexaScript-SemiBold", Helvetica, Arial, sans-serif;

.nexa {
    font-family: $NexaScript;
}
