mixin footer(data)
    footer.footer#contacts
        .container
            .columns.has-text-centered.is-multiline
                .column.is-4
                    a(href="/terms.html").title.has-text-white= lang==='ru' ? 'ПАРТНЕРСКОЕ СОГЛАШЕНИЕ' : 'TERMS & CONDITIONS'   
                .column.is-4
                    a(href="/faq.html").title.has-text-white FAQ
                .column.is-4
                    h2.title.has-text-white= lang==='ru' ? 'КОНТАКТЫ' : 'CONTACTS'  
                    p.subtitle
                        a(href="http://t.me/PinUpPartners" target="_blank").has-text-white telegram: PinUpPartners<br>
                        a(href="skype:affiliate_363?chat").has-text-white skype: affiliate_363<br>
                        a(href="mailto:affiliate@pin-up.casino").has-text-white email: affiliate@pin-up.casino
                .footer-copyright
                    img(
                        src!='%=static=%img/assets/navbar/pinup-partners-logo.svg'
                        alt='PinUp partners logo'
                        width='150' 
                        height='34')
                    p © 2018 Pin-up.partners
                a(href="#body").button.is-warning.up-button.is-large: span.icon: i.fas.fa-chevron-up
                    