$arrowColor: rgba(255, 255, 255, 0.3);
.arrowbutton {
    background-image: 
        linear-gradient(
                135deg,
                transparent 40%,
                $arrowColor 40%,
                $arrowColor 48%,
                transparent 48%,
                transparent 52%,
                $arrowColor 52%,
                $arrowColor 60%,
                transparent 55%
            ),
        linear-gradient(
                45deg,
                transparent 40%,
                $arrowColor 40%,
                $arrowColor 48%,
                transparent 48%,
                transparent 52%,
                $arrowColor 52%,
                $arrowColor 60%,
                transparent 55%
            ),
        linear-gradient(
                to bottom,
                transparent 0%,
                rgba(0, 0, 0, 0.4) 100%
            );
    background-position: bottom, top, center;
    background-repeat: no-repeat;
    background-size: 100px 50%, 100px 50%, 100%;
        &--animated {
            animation: arrow 1.5s;
    }
}

@keyframes arrow {
    0%   { background-position: center bottom, center top, center; }
    50%  { background-position: right -100px bottom 0px, right -100px  top 0px, center; }
    51%  { background-position: left -100px bottom 0px, left -100px  top 0px, center; }
    100% { background-position: center bottom, center top, center; }
  }
