.languageselect {
    .button.is-text {
        text-decoration: none;
    }
    .dropdown-menu {
        min-width: auto!important;
        @media screen and (max-width: 1024px) {
            bottom: 100%;
            padding-bottom: 4px;
            padding-top: initial;
            top: auto;
        }
        .dropdown-item {
            padding-right: 1rem;
        }
    }
    .flag {
        border: 1px solid lightgrey;
        display: block;
        width: 32px!important;
        height: 24px!important;
        background-size: cover;
        &-ru {
            background-image: url('../img/assets/languageSelect/ru.svg'); 
        }
        &-gb {
            background-image: url('../img/assets/languageSelect/gb.svg'); 
        }
    }
}
