mixin languageSelect(languages)
    .languageselect.dropdown.is-hoverable(class!=attributes.class)
        .dropdown-trigger
            button.button.is-text
                span.flag(class=lang==='ru' ? 'flag-ru' : 'flag-gb')
                span.icon.is-small: i.fas.fa-angle-down
        .dropdown-menu
            .dropdown-content
                each language in languages
                    a.dropdown-item(href='/'+language)
                        span.flag(class='flag-'+language)
