mixin input(label, icon, help)
    .field
        label.label.is-hidden-mobile= label
        .control.has-icons-right.has-icons-left
            input.input(
                type!=attributes.type
                placeholder!=attributes.placeholder 
                required!=attributes.required
                name!=attributes.name
                class!=attributes.class
                onchange!=attributes.onchange
                disabled!=attributes.disabled
                )
            span.icon.is-left: i(class=icon)
            span.icon.is-right
        .help!= help