mixin header(data, level)
    case level
        when 1
            h1.title.is-stroked.is-1
                span!= data[lang][0]
                span.has-text-warning!= data[lang][1]
        when 2
            h2.title.is-stroked.is-2
                span!= data[lang][0]
                span.has-text-warning!= data[lang][1]
        when 3
            h1.title.is-stroked.is-3
                span!= data[lang][0]
                span.has-text-warning!= data[lang][1]
        when 4
            h2.title.is-stroked.is-4
                span!= data[lang][0]
                span.has-text-warning!= data[lang][1]
        when 5
            h1.title.is-stroked.is-5
                span!= data[lang][0]
                span.has-text-warning!= data[lang][1]
        when 6
            h6.title.is-stroked.is-6
                span!= data[lang][0]
                span.has-text-warning!= data[lang][1]                   
        default
            h2.title.is-stroked.is-2
                span!= data[lang][0]
                span.has-text-warning!= data[lang][1]

