@media all and (min-width: 768px) {
    .title.is-stroked {
        position: relative;
        display: flex;
        white-space: pre-wrap;
        text-transform: uppercase;
        span {
            flex-shrink: 0;
            &:first-child {
                margin-left: 2rem;
            }
            &:last-child {
                margin-right: 2rem;
            }
        }
        &:before {
            content: '';
            height: 0;
            display: inline-block;
            //position: absolute;
            width: 60px;
            margin-top: .55em;
            border-bottom: 2px solid $primaryColor;
            flex-shrink: 0;
        }
        &:after {
            content: '';
            height: 0;
            display: inline-block;
            //position: absolute;
            width: 100%;
            margin-top: .55em;
            border-bottom: 2px solid $primaryColor;
            flex-shrink: 1;
        }
    }
}

