mixin swiper(pagination, arrows, scrollbar)
    .swiper-container
        .swiper-wrapper
            block
        - let showPagination = pagination || true
        - let showArrows = arrows || true
        - let showScrollbar = scrollbar || false
        if showPagination
            .swiper-pagination
        if showArrows
            .button.is-warning.swiper-button-prev
                span.icon: i.fas.fa-chevron-left
            .button.is-warning.swiper-button-next
                span.icon: i.fas.fa-chevron-right
        if showScrollbar
            .swiper-scrollbar