mixin newslist(data)
    section.section: .container
        +header(header.news)
        - var n = 0;
        ul.newslist
            if lang == 'en'
                li.media
                    .media-left
                        time(datetime="")
                            span.month May
                            span.day.is-size-2 31
                    .media-content
                        a(href="#").has-text-warning.is-size-4 Changes in affiliate program
                li.media
                    .media-left
                        time(datetime="")
                            span.month Apr
                            span.day.is-size-2 25
                    .media-content
                        a(href="#").has-text-warning.is-size-4 New feature: Hold
            else
                li.media
                    .media-left
                        time(datetime="")
                            span.month Май
                            span.day.is-size-2 31
                    .media-content
                        a(href="#").has-text-warning.is-size-4 Изменения в партнерской программе
                li.media
                    .media-left
                        time(datetime="")
                            span.month Апр
                            span.day.is-size-2 25
                    .media-content
                        a(href="#").has-text-warning.is-size-4 Нововведения: Холд
