.newslist {
    .month, .day {
        text-align: center;
        display: block;
    }
    .day {
        line-height: 2.5rem;
    }
    .media {
        border: 0;
    }
    .media-content {
        align-self: flex-end;
        
    }
}
