mixin tabs(tabs)
    .tabs-container
        .tabs(class!=attributes.class)
            ul
                each tab in tabs
                    li(data-tab=tab.target).js-tab.tab
                        a
                            if tab.icon
                                span.icon.is-hidden-mobile: i(aria-hidden="true" class=tab.icon)
                            span= tab.title
        block