.gamelist {
    .game {
        padding: 1rem;
        min-height: 112px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 2px solid $yellow;
        border-radius: 8px;
    }
}
