mixin gamelist(games)
    section.section.gamelist: .container
        +header(header.onlyTheBestGames)
        .columns.is-mobile.is-multiline
            each game in games
                .column.is-6-mobile.is-3-tablet
                    .game
                        img(src="%=static=%img/assets/sections/index/gamelist/"+game.img alt=game.name)

