mixin girl(data, lang)
    .hero.girl#home
        .hero-body: .container.has-text-centered
            figure.image
                img(src="%=static=%img/assets/sections/index/girl/girl.png" alt="Pin-up.partners — convert traffic smarter")
            if lang === 'en'
                h1.nexa.has-text-danger.is-size-4.sticker Pin-up<span class="has-text-success">.partners</span> — convert traffic smarter
            else
                h1.nexa.has-text-danger.is-size-4.sticker <span class="has-text-success">Новое казино — новые вершины</span><br /> Приведи игроков первым!
        .hero-foot
            h2.has-text-centered.title.is-1.is-uppercase= lang==='ru' ? 'Партнёрская программа' : 'Affiliate Program'   