.girl {
    .image {
        max-width: 592px;
        margin: 0 auto;
    }
    .sticker{
        background: url(../img/assets/sections/index/girl/paper.svg) no-repeat;
        background-size: 100% 100%;
        display: inline-block;
        padding: 1rem;
        margin: 0 auto;
        @media all and (min-width:768px) {
            position: absolute;
            top: 10%;
            left: 45%;
        }
    }
    h2 {
        margin-bottom: 3rem;
        font-weight: normal;
        text-shadow: 1px 3px 0 rgba(0,0,0,.2);
    }
}