mixin payments(payments)
    section.section
        .container
            +header(header.cashout)
            .columns.is-multiline.is-vcentered.is-centered.has-text-centered.is-mobile
                each payment in payments
                    .column.is-6-mobile.is-3-tablet
                        img(src="%=static=%img/assets/sections/index/payments/"+payment+".png" alt=payment)