mixin featurelist(features, lang)
    section.hero.beuge.featurelist: .hero-body: .container
        .columns.is-mobile.is-multiline
            each feature in features
                .column.has-text-centered.is-6-tablet(class='is-'+(12/features.length)+'-desktop')
                    .featureicon-wrapper
                        .featureicon.has-text-warning(class=feature.icon)
                    h2.title= feature.title[lang]
                    p.subtitle= feature.subtitle[lang] 
