.featurelist {
    .featureicon-wrapper {
        position: relative;
        height: 80px;
        margin: 0 auto;
        width: 180px;
        max-width: 100%;
        &:before {
            content: '';
            display: block;
            position: absolute;
            top: 50%;
            border-top: 2px solid $primaryColor;
            border-bottom: 2px solid $primaryColor;
            height: 18px;
            width: 100%;
            transform: translateY(-50%)
        }
        .featureicon {
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            width: 5rem;
            height: 5rem;
            border: 4px solid $beuge;
            background: $primaryColor;
            border-radius: 50%;
            padding: 4px;
            &:before {
                background: white;
                width: 100%;
                height: 100%;
                display: block;
                border-radius: 50%;
                line-height: 4rem;
                font-size: 2.5rem;
            }
        }
    }

}
