//TODO сделать что-то с блоком кнопок
mixin navbar(data, lang)
    nav.navbar.is-fixed-top: .container
        .navbar-brand
            a.navbar-item(href='/')
                img(
                    src!= '%=static=%img/assets/navbar/' + data.logo.src, 
                    alt!=data.logo.alt[lang], 
                    width='150', 
                    height='34'
                    )
                //- span.has-text-danger.nexa.is-size-3 Pin-up
                //- span.has-text-success.nexa.is-size-5 .partners
            .navbar-burger.burger#burger(data-taget="topnav")
                span
                span
                span
        .navbar-menu#topnav
            .navbar-start
                each item in data.navbarStart
                    a.navbar-item(
                        href!=item.href 
                        class!=item.class
                        data-modal!=item.dataModal
                        data-tab!=item.dataTab
                        )= item.text[lang]
            .navbar-end
                each item in data.navbarEnd
                    a.navbar-item(
                        href!=item.href 
                        class!=item.class 
                        data-modal!=item.dataModal
                        data-tab!=item.dataTab
                        )= item.text[lang] 
                .navbar-item
                    .field.is-grouped
                        .control
                            button.button.is-success.js-modal.js-tab.is-uppercase.arrowbutton(data-modal="registration" data-tab="loginform")= lang==='ru' ? 'Вход' : 'Login'
                        .control
                            button.button.is-danger.js-modal.js-tab.is-uppercase.arrowbutton(data-modal="registration" data-tab="regform")= lang==='ru' ? 'Регистрация' : 'Sign Up'
                        .control
                            +languageSelect(languageSelect.languages)
